@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

[src*="stegosaurus.jpg"] {
  display: none;
}

[src*="iguanodon.jpg"] {
  display: none;
}

@media only screen and (min-width: 25em) {

  img {
    display: inline;
    width: 49%;
  }

  [src*="stegosaurus.jpg"] {
    display: inline;
  }

  [src*="iguanodon.jpg"] {
    display: inline;
  }
}

@media only screen and (min-width: 38em) {

  img {
    width: 32%;
  }

  [src*="diplodocus.jpg"] {
    display: none;
  }

  [src*="stegosaurus.jpg"] {
    display: inline-block;
  }

  [src*="hadrosaur.jpg"] {
    display: inline-block;
  }

  [src*="iguanodon.jpg"] {
    display: inline-block;
  }
}

@media only screen and (min-width: 60em) {

  img {
    width: 24%;
  }

  [src*="diplodocus.jpg"] {
    display: inline-block;
    margin-left: .55rem;
  }

  [src*="stegosaurus.jpg"] {
    display: inline-block;
  }

  [src*="hadrosaur.jpg"] {
    display: inline-block;
  }

  [src*="iguanodon.jpg"] {
    display: inline-block;
  }
}
